*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

button {
    background: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}