.templates {
    display: flex;
    align-items: center;
    background: url("/assets/img/try-symu.webp") center no-repeat;
    min-height: 400px;
    padding: 30px 0;
    @include mq(tablet-large) {
        min-height: 750px;
    }
    & .container {
        justify-content: center;
    }
    &__text {
        font-size: 2.5rem;
        text-align: center;
        color: $color-white;
        margin-bottom: 30px;
        flex-basis: 100%;
        @include mq(tablet-large) {
            font-size: 3.75rem;
        }
        &--hl {
            font-weight: 700;
        }
    }
}