@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

html {
  font-family: "Montserrat", sans-serif;
  color: #87949e;
  font-size: 14px;
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}

a {
  color: #17daa3;
}

a:hover {
  color: #17daa3;
}

h1,
h2,
h3 {
  color: #576671;
  font-weight: 300;
  font-size: 2.9rem;
}

@media (min-width: 1024px) {
  h1,
  h2,
  h3 {
    font-size: 3.75rem;
  }
}

.header--after {
  position: relative;
  line-height: 200%;
  margin-bottom: 20px;
}

.header--after:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  width: 30px;
  height: 1px;
  background-color: #17daa3;
}

p {
  font-weight: 300;
}

.header {
  position: relative;
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  background-image: url(/assets/img/hero.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.menu {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.menu--fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  background-color: #333;
  z-index: 999;
}

.menu__items {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 10px 0;
}

.menu__items--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100%;
  left: -15px;
  width: calc(100% + 30px);
  background-color: #333;
  z-index: 5;
}

@media (min-width: 1024px) {
  .menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    max-width: 600px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu__item {
  padding: 5px 0;
}

.menu__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.hamburger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.hamburger:focus > .hamburger__container {
  -webkit-box-shadow: 0 0 2px 2px #51a7e8;
          box-shadow: 0 0 2px 2px #51a7e8;
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}

.hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 220ms ease-in-out;
  transition: -webkit-transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger__bars:before, .hamburger__bars:after {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #fff;
  content: '';
}

.hamburger__bars:before {
  top: -12px;
  -webkit-transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger__bars:after {
  bottom: -12px;
  -webkit-transition: bottom 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger--active .hamburger__bars {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out, -webkit-transform 220ms 120ms ease-in-out;
}

.hamburger--active .hamburger__bars:before {
  top: 0;
  -webkit-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}

.hamburger--active .hamburger__bars:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 100ms ease-out, -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out, -webkit-transform 220ms 120ms ease-in-out;
}

.hamburger:focus,
.hamburger__container:focus {
  outline: none;
}

.slider {
  position: absolute;
  width: 90%;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.slider__left-arrow {
  display: none;
}

.slider__slide {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider__slide--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__big-text {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 2px;
}

@media (min-width: 1024px) {
  .slider__big-text {
    font-size: 3.75rem;
  }
}

.slider__highlited-text {
  font-weight: 700;
}

.slider__small-text {
  color: #fff;
  font-size: 1rem;
  margin: 15px 0 50px;
}

.slider__right-arrow {
  display: none;
}

.slider__slide-switch {
  margin-top: 40px;
  text-align: center;
}

.slider__slide-dot {
  cursor: pointer;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.slider__slide-dot--active {
  background-color: #fff;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.scroll-down i {
  font-size: 28px;
  color: #fff;
  opacity: .5;
}

.scroll-down:hover i {
  color: #17daa3;
}

.about-us {
  padding: 15px 0;
}

.about-us .container {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us__title {
  width: 100%;
}

.about-us__text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 1024px) {
  .about-us__text {
    margin-bottom: 50px;
  }
}

.about-us__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
}

@media (min-width: 640px) {
  .about-us__feature {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 1280px) {
  .about-us__feature {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
  }
}

.about-us__feature-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 60px;
  width: auto;
  z-index: 1;
}

.about-us__feature-img-bg {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: #edeff0;
  width: 180px;
  height: 180px;
  margin: 30px 0;
}

.about-us__feature-img-bg:hover {
  background-color: #17daa3;
}

.about-us__feature-title {
  margin: 15px 0;
  font-size: 2rem;
  color: #000;
}

.about-us__feature-text {
  margin: 15px 0;
}

.informations__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.informations__information:nth-child(2n) .informations__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.informations__information:nth-child(2n) .informations__text-wrapper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.informations__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.informations__title {
  font-size: 3rem;
  font-weight: 300;
  margin: 30px 0;
}

@media (min-width: 1024px) {
  .informations__title {
    font-size: 3.75rem;
  }
}

.informations__text {
  line-height: 1.5rem;
}

.opinions {
  display: none;
}

@media (min-width: 1024px) {
  .opinions {
    display: block;
    background-image: url(/assets/img/opinions-bg.png);
    background-size: cover;
  }
}

.services {
  background-color: #edeff1;
  text-align: center;
}

.services__title {
  width: 100%;
}

.services__service {
  padding: 15px 0;
}

.services__img-bg {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  height: 45px;
  width: 45px;
}

@media (min-width: 1024px) {
  .services__img-bg {
    padding: 30px;
    height: 105px;
    width: 105px;
  }
}

.services__img {
  height: 25px;
  width: auto;
}

@media (min-width: 1024px) {
  .services__img {
    height: 35px;
  }
}

.services__service-title {
  margin: 15px 0;
}

.services__service-text {
  line-height: 2.5rem;
}

.team {
  text-align: center;
}

.team__title {
  font-size: 2.5rem;
  width: 100%;
}

.team__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  margin: 30px 0;
}

@media (min-width: 460px) {
  .team__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
}

@media (min-width: 800px) {
  .team__grid {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.team__member {
  position: relative;
}

.team__member:hover .team__member-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__member-img {
  display: block;
}

.team__member-name {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #17daa3;
  opacity: .8;
  color: #fff;
  font-size: 1rem;
}

.pricing {
  text-align: center;
  background-color: #f9f9fa;
}

.pricing .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing__title {
  width: 100%;
}

.pricing__text {
  margin-bottom: 30px;
}

.pricing__box {
  text-align: left;
  -webkit-box-shadow: 0 0 17.5px rgba(227, 227, 227, 0.65);
          box-shadow: 0 0 17.5px rgba(227, 227, 227, 0.65);
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.pricing__box-top {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 1px;
}

@media (min-width: 1024px) {
  .pricing__box-top {
    padding: 50px 30px;
  }
}

.pricing__price {
  color: #17daa3;
  font-size: 3rem;
}

.pricing__cash {
  display: inline-block;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.pricing__item-title {
  font-size: 1.1rem;
}

.pricing__box-bottom {
  padding: 30px;
  background-color: #fff;
}

@media (min-width: 1024px) {
  .pricing__box-bottom {
    padding: 50px 30px;
  }
}

.pricing__item-text {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.locations {
  padding: 30px 0;
}

.locations__title {
  margin-bottom: 20px;
}

.locations__text {
  margin-bottom: 20px;
}

.locations__map {
  -webkit-box-shadow: 0 0 17.5px rgba(227, 227, 227, 0.65);
          box-shadow: 0 0 17.5px rgba(227, 227, 227, 0.65);
}

.templates {
  background: url("/assets/img/try-symu.png") center no-repeat;
  padding: 30px 0;
}

.templates__text {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .templates__text {
    font-size: 3.75rem;
  }
}

.templates__text--hl {
  font-weight: 700;
}

.footer {
  padding: 20px 0;
  text-align: center;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 20px;
}

.footer__copyright:before {
  content: url("/assets/img/alecto.png");
  padding-right: 10px;
}

.footer-menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer-menu__items {
  padding: 10px 0;
  list-style: none;
}

.footer-menu__item {
  padding: 5px 0;
}

.footer-menu__link {
  text-transform: capitalize;
  text-decoration: none;
  color: #87949e;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #17daa3;
  border-radius: 25px;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 0 15px;
}

@media (min-width: 1024px) {
  .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px 0;
  border: 2px solid;
  line-height: 100%;
  text-decoration: none;
}

.btn--primary {
  background-color: #17daa3;
  border-color: #17daa3;
  padding: 8px 30px;
  border-radius: 23px;
  color: #fff;
}

.btn--primary:hover {
  background-color: #16cc99;
  border-color: #16cc99;
  color: #fff;
}

.btn--purchase {
  width: 100%;
  padding: 25px 35px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  background-color: #17daa3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  border-color: #17daa3;
  text-transform: uppercase;
}

.btn--purchase:hover {
  background-color: #16cc99;
  border-color: #16cc99;
  color: #fff;
}

.btn--slide {
  border-color: #fff;
  color: #fff;
  padding: 8px 30px;
  border-radius: 23px;
}

.btn--slide:hover {
  border-color: #17daa3;
}
